<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="La Paillote" class="logo_paillote img-responsive text-center" src="modules/core/img/brand/logo_paillote.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Application de Gestion de l'association "La Paillote"
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" ng-click="go('/drinks')" target="_blank">Bartender!!!</a>
			</p>
		</div>
	</div>
</section>