<section data-ng-controller="DrinksController">
    <div class="page-header">
	<h1>New Drink</h1>
    </div>
    <div class="col-md-12">
	<form class="form-horizontal" data-ng-submit="create()" novalidate>
	    <fieldset>
		<div class="form-group">
		    <label class="control-label" for="name">Name*</label>
		    <div class="controls">
			<input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
		    </div>
		</div>
		<div class="form-group">
		    <label class="control-label" for="family">Type*</label>
		    <div class="controls">
			<select type="text" data-ng-model="family" id="family" class="form-control" placeholder="Family" required>
			    <option value="vodka">Vodka</option>
			    <option value="whisky">Whisky</option>
			    <option value="rhum">Rhum</option>
			    <option value="gin">Gin</option>
			    <option value="tequila">Tequila</option>
			    <option value="liqueur">Liqueur</option>
			    <option value="autre">Autre</option>
			    <option value="sirop">Sirop</option>
			</select>
		    </div>
		</div>
		<div class="form-group">
		    <label class="control-label" for="quantity">Type*</label>
		    <div class="controls">
			<select type="text" data-ng-model="type" id="type" class="form-control" placeholder="Type" required>
			    <option value="" disabled selected>Select the drink type</option>
			    <option value="hard">Hard</option>
			    <option value="soft">Soft</option>
			</select>
		    </div>
		</div>
		<div class="form-group">
		    <label class="control-label" for="quantity">Quantity*</label>
		    <div class="controls">
			<input type="text" data-ng-model="quantity" id="quantity" class="form-control" placeholder="Quantity" required>
		    </div>
		</div>
		<div class="form-group">
		    <input type="submit" class="btn btn-default">
		</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
	    </fieldset>
	</form>
    </div>
</section>
