<script>
    $scope.predicate = '-name';
</script>
<section data-ng-controller="DrinksController" data-ng-init="find()">
    <div class="page-header">
        <h1>Drinks</h1>
    </div>
    <label class="control-label" for="stype">Filter By:</label>
    <select id="stype" name="stype" ng-model="type">
        <option value="">All</option>
        <option value="hard">Hard</option>
        <option value="soft">Soft</option>
    </select>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="list-drink-title">List of Drinks in stock</h4>
        </div>
        <table class="table">
            <tr>
                <th><a ng-click="predicate = 'name'; reverse=!reverse"><span ng-class="{'name':'selected'}[predicate]" class="label-name label label-default">Name <i class="fa fa-sort"></i></span></a></th>
                <th><a ng-click="predicate = 'family'; reverse=!reverse"><span ng-class="{'family':'selected'}[predicate]" class="label-family label label-default">Family <i class="fa fa-sort"></i></span></a></th>
                <th><a ng-click="predicate = 'type'; reverse=!reverse"><span ng-class="{'type':'selected'}[predicate]" class="label-type label label-default">Type <i class="fa fa-sort"></i></span></a></th>
                <th><a ng-click="predicate = 'quantity'; reverse=!reverse"><span ng-class="{'quantity':'selected'}[predicate]" class="label-quantity label label-default">Quantity <i class="fa fa-sort"></i></span></a></th>
                <th>Add/Remove</th>
                <th>Options</th>
            </tr>
            <tr data-ng-repeat="drink in drinks | orderBy:predicate:reverse | filter:type">
                <td><i data-ng-href="#!/drinks/{{drink._id}}" class="list-drink-arrow fa fa-arrow-circle-right"></i><a class="list-drink-name" data-ng-bind="drink.name" data-ng-href="#!/drinks/{{drink._id}}"></a></td>
                <td><span class="badge" data-ng-bind="drink.family"></span></td>
                <td><span ng-class="{hard:'hard', soft:'soft'}[drink.type]" class="badge" data-ng-bind="drink.type"></span></td>
                <td><span class="badge" data-ng-bind="drink.quantity"></span></td>
                <td>
                    <div class="list-drink-control btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-success" ng-click="increment(drink, 5);">+5</button>
                        <button type="button" class="btn btn-success" ng-click="increment(drink, 1);">+1</button>
                        <button type="button" class="btn btn-warning" ng-click="decrement(drink, 1);">-1</button>
                        <button type="button" class="btn btn-warning" ng-click="decrement(drink, 5);">-5</button>
                    </div>
                </td>
                <td>
                    <a type="button" class="btn btn-primary" data-ng-href="#!/drinks/{{drink._id}}/edit">Edit</a>
                    <a type="button" class="btn btn-primary" ng-click="remove(drink)">Delete</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!drinks.$resolved || drinks.length">
    	No Drinks yet, why don't you <a href="/#!/drinks/create">create one</a>?
    </div>
</section>