<section data-ng-controller="DrinksController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="drink.name"></h1>
	</div>
	<div >
		<h2>Type</h2>
		<span data-ng-bind="drink.type"></span>
	</div>
	<div>
		<h2>Family</h2>
		<span data-ng-bind="drink.family"></span>
	</div>
	<div>
		<h2>Type</h2>
		<span data-ng-bind="drink.type"></span>
	</div>
	<div>
		<h2>Quantity</h2>
		<span data-ng-bind="drink.quantity"></span>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == drink.user._id))">
		<a class="btn btn-primary" href="/#!/drinks/{{drink._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
