.list-drink-name{
    font-weight: bold;
    color: black;
    vertical-align: middle;
}

.list-drink-arrow {
    color: darkorange;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 1.777em !important;
}

.list-drink-name:hover{
    color: darkgrey;
    text-decoration: none;
}

.badge.soft {
    background-color: lightgreen;
}

.badge.hard {
    background-color: darkred;
}

.label-name, .label-family, .label-type, .label-quantity {
    vertical-align: middle;
}

.label-name.selected, .label-family.selected, .label-type.selected, .label-quantity.selected {
    background-color: darkorange;
}